@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(assets/images/background.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: dongle, sans-serif;
    font-size: large;
    letter-spacing: 1.5px;
    text-align: center;
}

header {
    grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
    text-shadow: yellow 1.5px 0 1px;
    font-size: 3.5rem;
}

.home-container,
.rules-container,
.quiz-container,
.quiz-complete,
.high-scores {
    background-color: rgba(162, 200, 200, 0.8);
    height: 80%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 12px 1px;
    margin: 20px auto;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: x-large;
}

.nav-bar i {
    color: black;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.nav-bar i:hover {
    background-color: yellow;
}

.rules-container {
    padding: 5px 10px;
    font-size: 1em;
}

.rules-container ul {
    list-style-type: none;
}

.hide {
    display: none;
}

.quiz-home-page h2 {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    position: absolute;
    top: 2em;
    right: 0;
    left: 0;
}

.quiz-home-page p {
    text-align: center;
    position: absolute;
    margin: 10px auto;
    top: 9em;
    right: 0;
    left: 0;
    font-size: larger;
}

.home-btn-container {

    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.home-btn-container button {
    display: block;
    margin-bottom: 10px;
    padding: 0.2em 1.4em;
    margin: 0rem 0.5rem 0.5rem 0rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    font-family: lato;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
}

.button {
    padding: 0.2em 1.4em;
    margin: 0rem 0.5rem 0.5rem 0rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    font-family: lato;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
}

.question-container {
    position: absolute;
    top: 3em;
    right: 1em;
    left: 1em;
    height: 60%;
    overflow: hidden;
}

#landmark {
    height: 100%;
    width: 100%;
    object-fit: contain;

}


.options-container {
    position: absolute;

    right: 1em;
    left: 1em;
    bottom: 4em;
}

.next-retry-container {
    position: absolute;
    right: 1em;
    left: 1em;
    bottom: 1em;
}

.retry-button,
.next-button {
    background-color: cyan;
}

.quiz-complete {
    height: 50%;
    width: 50%;
}

.quiz-complete h1 {
    font-size: xx-large;
}

.results-container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    box-shadow: 0 0 2px 0.5px;
}

.results-container input,
button {
    margin: 5px 0;
    padding: 5px 0 5px;
    text-align: center;
}

.high-scores h1 {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    position: absolute;
    top: 2em;
    right: 0;
    left: 0;
}

.high-scores ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 2rem;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.high-scores li {
    font-size: large;

}

.high-scores {
    height: 50%;
    width: 50%;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}


/* media queries */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        padding: 0.5rem;
    }

    header h1 {
        font-size: 3em;
    }

    .home-container {
        height: 70%;
    }

    .quiz-home-page h2 {
        top: 1em;
        font-size: 3.5rem;
    }


    .quiz-home-page p {
        position: absolute;
        top: 5em;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .home-btn-container {
        margin-top: 12rem;
    }

    .home-btn-container button {
        margin-bottom: 10px;
    }

    .quiz-container {
        height: 80%;
        margin-top: 30px;
    }

    .question-container {
        top: 3.3rem;
    }


    .options-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 150px;

    }

    .option-btn {
        height: 2rem;
        width: 12rem;
        margin-bottom: 10px;
        padding: 0.3rem 0.7rem;
    }

    .next-retry-container {
        margin-top: 8.6rem;

    }
}

@media screen and (min-width:480px) and (max-width: 768px) {

    body {
        padding: 0.5rem;
    }

    header h1 {
        font-size: 4em;
    }

    .home-container {
        height: 70%;
    }

    .quiz-home-page h2 {
        position: absolute;
        font-size: 2rem;
    }


    .quiz-home-page p {
        position: absolute;
        top: 8rem;
        padding: 1rem;
        font-size: 1.2rem;
    }

    .home-btn-container {
        margin-top: 10rem;
    }

    .home-btn-container button {
        margin-bottom: 5px;
        padding: 0.5em 1.2em;
    }

    .quiz-container {
        height: 80%;
    }

    .question-container {
        top: 1rem;

    }

    .options-container {
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
    }

    .option-btn {
        margin-top: 0.7rem;
    }

    .next-retry-container {
        margin-top: 8.3rem;


    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {


    body {
        padding: 0.5rem;
    }

    header h1 {
        font-size: 4em;
    }

    .home-container {
        height: 70%;
    }

    .quiz-home-page h2 {
        position: absolute;
        top: 5rem;
        font-size: 2.5rem;
    }

    .quiz-home-page p {
        position: absolute;
        top: 12rem;
        padding: 1rem;
        font-size: 1rem;
    }

    .quiz-container {
        height: 70%;
    }

    .question-container {
        top: 1rem;
    }

    .options-container {
        display: flex;
        flex-direction: column;
    }

    .option-btn {
        margin-top: 0.7rem;
    }

    .next-retry-container {
        margin-top: 8.3rem;
    }
}

@media screen and (max-width: 320px) {

    body {
        padding: 0.5rem;
    }

    body {
        padding: 0.3rem;

    }

    header h1 {
        font-size: 3em;
    }

    .home-container {
        height: 60%;
    }

    .quiz-home-page h2 {
        position: absolute;
        top: 2.5rem;
        font-size: 1.5rem;
    }

    .quiz-home-page p {
        position: absolute;
        top: 9rem;
        padding: 1rem;
        font-size: 1rem;
    }

    .home-btn-container {
        margin-top: 11rem;
    }

    .quiz-container {
        height: 70%;
    }

    .question-container {
        top: 1rem;
    }

    .options-container {
        display: flex;
        flex-direction: column;

    }

    .option-btn {
        margin-top: 0.7rem;
    }

    .next-retry-container {
        bottom: 1em;

    }

    .navigation-btns {
        padding: 4px;
    }

    .rules-container ul {
        font-size: 1rem;
    }
}